/* will use rem to be consistene*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: black;
    font-family: 'Markazi Text', serif;
    color:white;

    /* margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%; */
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}

/*header*/
header{
    /* border-bottom: 0.5rem solid white; */
}
header > img{
    height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}



/*nav*/
nav{
    display: block;
    height: 3.5rem;
    margin-left: 5rem ;
    margin-right: 5rem;
    background-color: aliceblue;
    border-radius: 1rem;
    text-overflow: none;
}
nav ul{
    margin-left: 20%;
    margin-right: 10%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    gap: 10rem;
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
}
nav li a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}
nav li a:hover{
    color:coral;
}
/**/


#promo{
    display: flex;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    height: 10rem;
}
#promo img{
    height: 10rem;
    width: 90rem;
    position: absolute;
}
#promo h1{
    font-size: 2rem;
    padding-top: .5rem;
    padding-left: 3rem;
}
#promo p{
    font-size: 1rem;
   padding-left: 3rem;
   padding-top: .5rem;
}

#promo article{
    position: relative;
    display: flex;
    flex-direction: column;
}
article{
    flex: 1;
}



/**/
#services{
    display: flex;
    margin-left:3rem;
    margin-right: 3rem;
    gap:5rem;
}
#services article{
    background-color: aliceblue;
    border-radius: 1rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#services article img{
    height: 10rem;
    width: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
    transition: transform .3s ease;
}
#services article img:hover{
    transform: scale(1.1);
}
#services article h2{
    color: black;
    padding: 1rem;
}
#services article p{
    margin-left: 1rem;
    color: black;

}

/**/
footer{
    display: flex;
    margin: 5rem;
    height: 5rem;
    background-color: aliceblue;
    border-radius: 1rem;
    justify-content:center;
    align-items: center;
}
footer img{
    height: 3rem;
   /* margin-left: 5rem; */
}
footer p{
    font-size: 1rem;
    margin-left: 2rem;
    color: black;
    font-weight: bolder;
}